

:root {
    --header-black: #131417;
    --header-red: #EB5757;
    --item-grey: #252830;
  }
  
  body{
    height: 100vh;
  }
  *, body{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--header-black);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  a{
    text-decoration: none;
  }