
.main{
    height: 100vh;
    width: 100vw;
    /* background-size: cover; */
    overflow: hidden;
  
  
  }
  .main img{
    background-size: auto;
    height: auto;
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
  }